<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="assets/css/styles.css">
  </head>
  <body>
    <header>
      <div>
        <img src="assets/banner.jpeg" alt="Logo">
      </div>
      <nav>
        <ul>
          <li><a href="#introduction">Introduction</a></li>
          <li><a href="#team">Team</a></li>
        </ul>
      </nav>
    </header>
    <div class="hero">
      <h1>Screen Tastes: The User-Critic Divide in Cinema</h1>
      <p>An attempt to explain movie taste differences between users and critics</p>
      <p class="team">Antonin Faure • Baptiste Lecoeur • Enzo Palmisano • Jamil Maj • Mariella Daghal</p>
    </div>
    <main>
      {{ content }}
    </main>
    <footer>
      <p>© Team rADAtouille - All Rights Reserved</p>
    </footer>
  </body>
</html>
