<body>
  <div class="wrapper">
    <header>
      <div class="container">
        <h1>{{ site.title | default: site.github.repository_name }}</h1>
        <p>{{ site.description | default: site.github.project_tagline }}</p>
      </div>
    </header>
    <section class="container">
      {{ content }}
    </section>
    <footer>
      <div class="container">
        {% if site.github.is_project_page %}
          <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
      </div>
    </footer>
  </div>
</body>
